.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgb(54, 131, 233), rgb(26, 91, 205));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(54, 131, 233), rgb(26, 91, 205));
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}

.flex.flex-columns {
  flex-direction: column;
}

.flex.flex-rows {
  flex-direction: row;
}

.flex-justify-center {
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}
